<h1 class="animated fadeIn fast">Sobre ComicApp</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sapien odio, vestibulum a ligula sit amet, pellentesque faucibus sem. Curabitur turpis urna, imperdiet sit amet pretium eu, mattis ac massa. Fusce vitae enim lectus. Nullam rhoncus lorem non tellus euismod accumsan. Nulla elit odio, lacinia eget lacinia nec, tempor non ex. Nulla sodales scelerisque eros, non pulvinar purus vehicula non. Aliquam finibus nisi a vehicula maximus. Nullam congue accumsan consectetur. Duis sit amet dui tincidunt, blandit nunc vestibulum, fringilla nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquam nunc lobortis tristique facilisis. Fusce imperdiet condimentum lorem eu commodo. In hac habitasse platea dictumst. Quisque risus massa, lobortis in magna id, hendrerit pretium mi. Nullam vehicula accumsan commodo.
</p>
